{
  "loop": true,
  "delay": 300,
  "debug": false,
  "zones": {
  "domain-mainnet": {
    "domain": "domain.com",
    "provider": "cloudflare",
    "login": "your_email_here",
    "password": "312089eh2938",
    "subdomain": "mainnet",
    "rpc_host": "127.0.0.1",
    "rpc_port": "11112",
    "required_port": "11111"
  },
  "domain-testnet": {
    "domain": "domain.com",
    "provider": "cloudflare",
    "login": "your_email_here",
    "password": "312089eh2938",
    "subdomain": "testnet",
    "rpc_host": "127.0.0.1",
    "rpc_port": "22223",
    "required_port": "22222"
  }
  }
}